%div{:style => 'width: 1000px; margin: 0 auto'}
  %div
    %img{:src => 'http://dashboard.zenoradio.com/assets/layout/logo-be4b2a8b2ab82d4c488885a228700684.png'}
  %br
  %br
  %div
    = "Hello <strong>RT</strong>, ".html_safe
    %br
    %br
    %p
      = "User with email address #{@user.email} has been successfully signed up in our system. Please refer to the data below for more info."
    %br
    %h4
      Account Details
    %ul
      %li
        = "Username/Email: "
        = @user.email
      %li
        = "Company Name: "
        = @user.name
      %li
        = "Station Name: "
        = @user.title