- if @stations.present?
  - unless broadcaster? && @stations.size == 1 && params[:utf8].nil?
    %div.row{:id => 'stationList', :style => ""}
      %div.col-md-12{:id => 'SlideContainer'}
        %div
          .row.slides.slider-group-search.margin-top-0

            %div.col-md-3
              %div.input-group
                = text_field_tag :query, params[:query], :class => "form-control", :style=>'border-top-left-radius: 4px !important;border-bottom-left-radius: 4px !important;padding-left:12px;font-family:"Open Sans"', placeholder: "Enter your search here.."
                .input-group-btn
                  %input.btn.btn-primary{:type => 'button', :value => 'Search', :id => 'searchStation'}

            %div.col-md-3
              %span.radio-select
                = select_tag :country_id, options_from_collection_for_select(DataGroupCountry.get_tagged_countries_on_user(current_user).order(:title), 'id', 'title', params[:country_id]), :prompt => "Select country", :class=>'query-search-country-id select'

            %div.col-md-3
              - if current_user.is_marketer?
                %span.radio-select
                  = select_tag :rca_id, options_from_collection_for_select(DataGroupRca.order(:title), 'id', 'title', params[:rca_id]), :prompt => "Select RCA", :class=>'query-search-rca-id select'

            %div.col-md-3{:style=>'padding:0px'}
              .col-md-6{:style=>'padding:0px'}
                %a.btn.btn-primary{:href => controller_name, :title => "All Stations"}
                  %i.fa.fa-list-alt
                  = "All Stations"


              .pull-right.station_pagination{:style=>'width:90px'}
                .input-group
                  %input#page.pull-right{:style=>'padding:4px 8px 4px 8px;width:55px; font-family:"Open Sans";border-radius:4px;border:1px solid #eee;', :value=>1}
                  .input-group-btn
                    %button.btn.btn-primary{:style=>'background:none;border:none'}
                      %span
                        = "of "
                      %span#total_page
                        = @total_page

          - if @station.present?
            %div.slider_content.hide
              %div.slider-loading{:style=>'display:none'}
              %span.prev#prev-slide
              %span.next#next-slide
              #inside_slider.animated.fadeIn
          - else
            %div.slider_content
              %div.slider-loading{:style=>'display:none'}
              %span.prev#prev-slide
              %span.next#next-slide
              #inside_slider.animated.fadeIn
    %br
%br
.row
  - if @station.present?
    %button.btn.btn-info.pull-right#stationListToggle{:style=>"margin-right:10px;"}
      %i.fa.fa-list-ul
      %span
        = "Show Station List"
    .col-sm-1
      %span.station_avatar
        %span{:style=>"background: url(#{(@station.logo.exists? ? @station.logo.url(:xhdpi) : image_path('radio.png'))}) center center; background-size: 80px"}
    .col-sm-11
      %h2{:style => "color: #59B2E5"}
        = @station.title.titleize
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o
        = "Users by Time"
      .panel-body#user_graph_panel
        - if @user_values.present?
          = render "graphs/user_chart", station: @station, labels: @user_labels, values: @user_values
        - else
          %div.page-header
            %h1 No Record to display yet.
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o
        = "Minutes Report"
      .panel-body#minutes_graph_panel
        - if @minutes_values.present?
          = render "graphs/minutes_chart", station: @station, labels: @minutes_labels, values: @minutes_values
        - else
          %div.page-header
            %h1 No Record to display yet.

- content_for :js do
  :javascript
    $(document).ready(function(){
      window.graphs = new Graphs()
    });
    
        
  