%div.row
  %div.col-sm-12
    %div.page-header
      %h1 Bulk Tagging
%hr
.tabbable
  %ul.nav.nav-tabs.tab-bricky.tab-blue.tab-padding.tab-space-3
    %li{class: "#{ 'active' if params[:action] == 'data_group'}"}
      = link_to "User Group", data_group_path
    %li{class: "#{ 'active' if params[:action] == 'data_tagging'}"}
      = link_to "Country, Lang, Genre", data_tagging_path
%div.row#pageHolder
  = form_tag data_tagging_path, :id => 'dataFilterForm', method: :post do
    = hidden_field_tag 'per', @per_selected, :class => 'dataFilter'
    = hidden_field_tag 'tag_filter', params[:tag_filter], :class => 'dataFilter'
    = hidden_field_tag 'station_filter', params[:station_filter], :class => 'dataFilter'
    .col-sm-2
      %label{:for => 'tag_type'}
        Tag Type
      = select_tag "tag_type", options_for_select(['Country', 'Language', 'Genre'], @sel_tag_type), :include_blank => true, class: 'select tagTypeFilter'
    - if @tags.present?
      .col-sm-2
        %label{:for => 'tag'} Tag to Stations
        = select_tag 'tag', options_from_collection_for_select(@tags, 'id', 'title',@sel_tag), :include_blank => true, class: 'select dataFilter'
      -#.col-sm-3
      -#  %label{:for => 'station_filter'} Station Filter
        -#= text_field_tag 'station_filter', @station_filter, :class => 'input-xlarge dataFilter', :placeholder => 'Search station name and click away', :style => 'padding: 8px; width: 100%; margin-top: 3px'

- if @sel_tag_type.present?
  %br
  %div.row
    %div.col-md-12
      %i.fa.fa-warning
      = " Warning: Once you select a station, It will automatically tag to above selected <strong>#{@sel_tag_type}</strong>.".html_safe
%br
%div.row
  %div.col-sm-12
    .panel.panel-default
      .panel-heading
        .fa.fa-cogs
        Select Stations
        .panel-tools
          - if params[:tag_type].present?
            = select_tag 'tag_filter', options_from_collection_for_select(@tags, 'id', 'title', params[:tag_filter]), prompt: 'Select', :class => 'subFilters'
          = text_field_tag 'station_filter', params[:station_filter], :class => 'hide subFilters', :placeholder => 'Search station here'
          = select_tag 'per', options_for_select(['20', '40', '60', '80', '100'], @per), :class => 'subFilters'
      .panel-body
        %div.slimScroll#stationHolder
          - if @objects.present?
            = form_tag save_data_tagging_path, method: :post, :id => 'stationForm' do
              - @objects.each do |obj|
                .col-sm-3.well-sm
                  %label
                    = check_box_tag 'selected_stations[]', obj.id, (@selected.include? obj.id.to_i), :class => 'square-teal', :data => {:id => obj.id}
                    = truncate(obj.title.to_s, :length => 18, :separator => ' ')
              %br
                .pull-right
                  = paginate(@objects)
          - else
            .col-sm-4.col-sm-offset-4
              %i.fa.fa-warning.fa-2x
              %span
                = "No station to display yet. Please select <strong>Tag Type and a Tag for Stations</strong> first or Evaluate your search.".html_safe



- content_for :js do
  :javascript
    $(document).ready(function(){
      $('body').on('ifChecked', 'input[type="checkbox"].square-teal, input[type="radio"].square-teal', function(event){
        object_id = $(this).attr('data-id');
        url = '/new_settings/save_data_tagging';
        data = $('#dataFilterForm').serialize();
        data += '&object_id=' + object_id;
        $.ajax({
          url : url,
          type : 'post',
          data: data
        });
      });
      $('body').on('ifUnchecked', 'input[type="checkbox"].square-teal, input[type="radio"].square-teal', function(event){
        object_id = $(this).attr('data-id');
        url = '/new_settings/delete_data_tagging';
        data = $('#dataFilterForm').serialize();
        data += '&object_id=' + object_id;
        $.ajax({
          url : url,
          type : 'post',
          data: data
        });
      });
      $('body').on('change', '.tagTypeFilter', function(){
        type_val = $(this).val();
        preload();
        document.location = '/new_settings/data_tagging?tag_type='+type_val;
      });
      $('body').on('change', '.subFilters', function(){
        form = $('#dataFilterForm');
        key = $(this).attr('name');
        val = $(this).val();
        form.find('input[name="'+ key +'"]').val(val).trigger('change');
      });
      $('body').on('change', '.dataFilter', function(){
        var form = $(this).parents('form');
        var data = form.serialize();
        var url = form.attr('action');
        $.ajax({
          type: 'post',
          beforeSend: preload,
          data: data,
          url: url
        }).done(function(data){
          res = $('<div>').html(data);
          $('#stationHolder').html(res.find('#stationHolder').html());
          $('nav.pagination>ul').addClass('pagination');
          $('input[type="checkbox"].square-teal, input[type="radio"].square-teal').iCheck({
              checkboxClass: 'icheckbox_square-aero',
              radioClass: 'iradio_square-aero',
              increaseArea: '10%' // optional
          });
          $('.subFilters').removeClass('hide');
        });
      });
    });
    function preload(){
      html = '<div class="col-sm-4 col-sm-offset-4">';
        html += '<span>';
          html += '<img src="/assets/loader.gif" />';
          html += ' Please wait...';
        html += '</span>';
      html += '</div>';
      $('#stationHolder').html(html);
    }