.row
  = render "graph"

.row
  .col-sm-6
    %h3
      = "Current Top 3 Most Growth"
    %table.table.table-striped.table-hover.table-bordered.table-with-labels
      %thead
        %tr
          %th= "RCA"
          %th.acenter=  "Last week"
          %th.acenter=  "Current week"
      %tbody
        - @result_mini.first(3).each do |res|
          %tr
            %td
              - if params[:rca_id].present?
                = link_to res[0], reports_path(station_id: res[1])
              - else
                = res[0]
            %td.acenter
              = render "percentage_details", data: res[2]
            %td.acenter
              = render "percentage_details", data: res[3]
              
  .col-sm-6
    %h3 
      = "Current Top 3 Most Drop"
    %table.table.table-striped.table-hover.table-bordered.table-with-labels
      %thead
        %tr
          %th= "RCA"
          %th.acenter=  "Last week"
          %th.acenter=  "Current week"
      %tbody
        - @result_mini.last(3).sort{|a, b| b[3].to_i <=> a[3].to_i}.each do |res|
          %tr
            %td
              - if params[:rca_id].present?
                = link_to res[0], reports_path(station_id: res[1])
              - else
                = res[0]
            %td.acenter
              = render "percentage_details", data: res[2]
            %td.acenter
              = render "percentage_details", data: res[3]
  .col-sm-12
    %h3= "Weekly Minutes"
    %table.table.table-striped.table-hover.table-bordered.table-with-labels
      %thead
        %tr
          = render partial: "rca_table_head"
      %tbody
      - @result.each do |rca|
        %tr
          %td.name
            = link_to rca[0], rca_minutes_data_numerical_reports_path(type: params["type"] || "percentage", rca_id: rca[1])
          - (2..5).each do |idx|
            %td.acenter
              = render "percentage_details", data: rca[idx]
