updated content 
%span= link_to activity.trackable.title, search_content_search_path(content_query: activity.trackable.title)
- if activity.parameters[:channel_no]
  = "(Extension no: " + activity.parameters[:channel_no] + ")"
from  "#{activity.parameters[:old_name]}" to  "#{activity.parameters[:new_name]}"
- if activity.parameters[:channels]
  on
  %span= " Stations : " + activity.parameters[:channels] 

