= simple_form_for @new_station, html: {id: "new_station_form"}, multipart: true, remote: true  do |f|
  .form-inputs
    .row
      .col-sm-12
        = hidden_field_tag :stream_url
        = f.input :title, input_html: {class: "form-control"}
        = f.input :country_id, as: :select, collection: DataGroupCountry.all.collect { |x| [x.title, x.id]}
        = f.input :language_id, as: :select, collection: DataGroupLanguage.all.collect { |x| [x.title, x.id]}
        - broadcasters = DataGroupBroadcast.all.sort_by!{ |b| b.title.downcase }
        = f.input :broadcast_id, as: :select, collection: broadcasters.collect { |x| [x.title, x.id]}
        - rcas = DataGroupRca.all.sort_by!{ |r| r.title.downcase }
        = f.input :rca_id, as: :select, collection: rcas.collect { |x| [x.title, x.id]}
        = f.input :website, input_html: {class: "form-control"}
      .col-sm-8
        = f.input :logo, input_html: {class: "form-control"}
      .col-sm-4
        %br
        %br
        = f.label :flag_broadcaster, label: "Broadcaster?"
        = f.check_box :flag_broadcaster, class: "icheck-me", data: {color: "blue", skin: "square"}
      .col-sm-12
        - entryway = DataEntryway.where(:gateway_id => nil).order(:title)
        = f.label :data_entryway_id, label: "DID"
        = f.input :data_entryway_id, label: false, as: :select, collection: entryway.collect { |x| [x.title, x.id]}

%progress{:max => 100, :value => @user.profile_percentage}
%div
  = "#{@user.profile_percentage}% profile completed"