%div.page-header
  %h1
    %i.fa.fa-question-circle
    Sign-up Settings
%br
.tabbable
  %ul#myTab.nav.nav-tabs.tab-bricky.tab-blue.tab-padding.tab-space-3
    %li
      = link_to "Unprocessed", pending_users_path
    %li
      = link_to "Processed", all_pending_users_path
    %li
      = link_to "Auto Sign-ups", auto_signups_pending_users_path
    %li.active
      = link_to signup_settings_pending_users_path do
        %i.fa.fa-gears
  .tab-content
    .tab-pane.in.active
      = render "signup_settings_list"

:javascript
  $(document).ready(function(){
    $("#pendingUserTable").tablesorter();
    $('body').on('change', '.configField', function(){
      var name = $(this).attr('name');
      var value = $(this).val();
      var spinner = $(this).next()
      var elem = $(this)
      spinner.removeClass('hide');
      elem.hide();
      data = {'config': {'name' : name, 'value' : value}}
      $.ajax({
        type: 'get',
        url: '/pending_users/signup_settings',
        data: data,
        async: true
      }).complete(function(data){
        spinner.addClass('hide');
        elem.show();
      });
      //alert(name);
    });
  });